<div>Home Page</div>

<% if Current.user %>
  <%= button_to 'Balance', 'balance' %>
  <%= button_to 'Withdraw', 'balance' %>
  <%= button_to 'Deposit', 'balance' %>

  <%= button_to 'Transfer', 'transactions' %>

  <%= button_to "Sign Out", logout_path,  method: :delete %>
<% else %>
  <%= link_to "Sign up", sign_up_path %>
  <%= link_to "Sign In", sign_in_path %>
<% end %>
