<h1>Sign In </h1>

<div classname="flash-messages">
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
</div>

<%= form_with url: sign_in_path do |f| %>

<%= f.label :Username %>
<%= f.text_field :username %>

<%= f.label :Password %>
<%= f.password_field :password %>

<%= f.submit "Sign in" %>
<% end %>